:root {
    --dark: #212529;
    --light: #2CC09C;
}

.topbar {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    color: #FFF;
    background: #212529; /* min. for IE */
    background: var(--dark);
}

.topbar a {
    color: inherit;
    text-decoration: none;
}

.topbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.topbar li {
    padding: 0 8px;
}

.topbar li,
.topbar a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40px;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.topbar svg {
    width: 12px;
    height: 12px;
    margin-right: 8px;
}

.topbar-infos {
    background: var(--light);
}

.topbar-links svg {
    fill-opacity: var(--light);
}

.topbar-links a:hover {
    color: var(--light);
}

.topbar .topbar-lang {
    margin-left: auto;
}

.topbar .topbar-lang a::after {
    content: "";
    display: inline-block;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 6px solid #FFF;
    width: 0;
    height: 0;
    margin-left: 6px;
}

.topbar-container {
    max-width: 1016px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 720px) {
    .topbar {
        font-size: 14px;
        background: -webkit-gradient(linear, left top, right top, from(var(--light)),  color-stop(50%, var(--light)), color-stop(50.01%, var(--dark)), to(var(--dark)));
        background: -o-linear-gradient(left, var(--light),  var(--light) 50%, var(--dark) 50.01%, var(--dark));
        background: linear-gradient(to right, var(--light),  var(--light) 50%, var(--dark) 50.01%, var(--dark));
    }

    .topbar-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        background: var(--dark);
    }

    .topbar li,
    .topbar a {
        height: 55px;
    }

    .topbar svg {
        width: 16px;
        height: 16px;
    }

    .topbar-infos li:last-child {
        background: var(--dark);
        padding: 0;
    }

    .topbar-infos li:last-child::before {
        content: "";
        display: inline-block;
        border-right: 30px solid transparent;
        border-bottom: 55px solid var(--light);
        margin-right: 15px;
    }

    .topbar-infos li:last-child svg {
        fill: var(--light);
    }
}